*{
    margin: 0;
    padding: 0;
	
}

/*FONDO PAGINA PRINCIPAL*/
#fondo{
	background: url(imagenes_css/fondo1.jpg);
  	height: 100vh; 
  	background-size: cover;
}
#h1-transparent{
    margin: 0;
    padding: 0;
}

.index-menu-right{
	float: right;
}
/*Logo en el medio de la pagina ppal*/
#center-logo {
	width: 33%;
	height: 80vh;
	left: 50%;
	right: 50%;
	background: transparent;
	transform: translate(100% , 15%);
}

/*HOME BUTTON*/
#top-logo {
  	width: 5%;
 	position: absolute;
  	top: 1%;
  	left: 0.5%;
}

/*Start Galeria*/
.my_row{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.my_column{
	display: flex;
	flex-flow: column wrap;
	flex-basis: 100%;
	flex: 1;
}

.img-effect{
	transition: .5s;
}
.img-effect:hover {
	filter: brightness(0.5);
}

.button-modal{
	border-width: 0;
	color: transparent;
	cursor: grab;
	background-color: white;
}

.button-modal:focus{
	outline: none;
	box-shadow: none;
}

/*End Galeria*/

/*PIE DE PAGINA*/
.contacto_container {
	background-color: #F2F2F2;
	background-size: cover;
	height: 12.5vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
}

.contacto-mail {
	width: 50%;
	height: 100%;
	overflow: hidden;
	float: left;
}

.img-mail {
	height: 7.5vh;
	width: 7.5vh;
	margin-left:40%;
	margin-top: 2.5vh;
	float: left;
}
.contacto_mail_text{
	margin-top:0.5vh;
	white-space: pre;
}
.contacto-cel {
	width: 50%;
	height: 100%;
	overflow: hidden;
	float: left;
}

.img-cel {
	height: 7.5vh;
	width: 7.5vh;
	margin-left:40%;
	margin-top: 2.5vh;
	float: left;
}

.contacto_cel_text{
	margin-top:0.5vh;
	white-space: pre;
}

.social_media{
	float: right;
}

/*FIN DE PIE DE PAGINA*/

/*FONDO PARA SUBPAGINAS*/
.minifondo {
	background-color: black;
  	height: 4vh; 
  	background-size: cover;
}

/*ESTO PERTENECE A CONTACTOS.HTML*/
#form-container {
	height: 75vh;
	width: 100%;
}
.fuente_contactos{
	font-size: 2vh;
}

.boxcomment1 {
	width: 30vh;
	border-radius: 0.5vh;
}

#boxcomment2 {
	width: 50vh;
	height: 20vh;
	border: 1;
	margin-top: 2.5vh;
	font-family: Verdana, sans-serif;
	resize: none;
}

.boxcomment3 {
	width: 30vh;
	border-radius: 0.5vh;
}

.btn-top-space{
	margin-top: 2.5vh;
}

#encuesta {
	left: 50%;
	right: 50%;
	margin-left: 33%;
	margin-top:2%;
}

/*ESTO PERTENECE A MENU.HTML */

#fondo5-container{
	background: url(imagenes_css/fondo5.jpg);
	height: 50vh; 
	background-size: cover;
}

/* ESTO PERTENECE A NOSOTROS.HTML */
#fondo4-container{
	background: url(imagenes_css/fondo7c.jpg);
	height: 50vh; 
	width: 100%;
	background-size: cover;
}

.n-txt-container{
	height: 75vh;
	background-color: black;
}

.n-img-container{
	height: 75vh;
	width: 100%;
}

.n-img{
	height: 75vh;
	width: 100%;
}

/*ESTO PERTENECE A HORARIOS.HTML*/
.center{
	text-align: center;
	align-self: center;
	align-content: center;
}
.google_map{
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

.table_container{
	width: 100%;
	height: 40vh;
}

.tabla_horario{
	border-spacing: 10px;
	margin-left: auto;
	margin-right: auto;
}

.tabla_horario td {
	width: 25vh;
	text-align: center;
}

/*ESTO ES PARA MENU.HTML*/

#fondo2-container{
	background: url(imagenes_css/fondo2c.jpg);
	height: 50vh; 
	background-size: cover;
}

#grid-container {
	display: grid;
	grid-template-areas:
	"blank productos productos servicios servicios servicios"
	"blank productos productos servicios servicios servicios"
	"blank productos productos servicios servicios servicios";
	background-color: black;
	height: 90vh;
}
#grid-container-inv {
	display: grid;
	grid-template-areas:
	"servicios servicios servicios productos productos blank"
	"servicios servicios servicios productos productos blank"
	"servicios servicios servicios productos productos blank";
	grid-template-columns: 20% auto 15%;
	background-color: black;
}

#grid_menu {
	grid-area: productos;
	height: 75vh;
	margin-top: 15vh;
}
#grid_img {
	grid-area: servicios;  
}
 /* YA HAY UNA CLASS NOMBRADA "BORDER" en BS parece */
.my_border{
	border: none;
}

.menu-txt-r{
	width: 100%;
}

/*ACA SE MODIFICA EL BOOTSTRAP DEL MODAL EN GALERIA*/
.modal-content{
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-clip: none;
	border: none;
}

.close-modal {
    position: absolute;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
	float:right
}

.close-position{
	transform: translate(35vh , 1vh);
}

.close-modal:hover {
    opacity: .3;
}

.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 35px;
    background-color: rgb(255, 255, 255);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 50px;
    background-color: /*#2c3e50*/rgb(255, 255, 255);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.txt-wrapper{
	display: flex;
	align-self: center;
}

.my_modal-img{
	height: 75vh;
	width: 100vh;
}

.my_modal-img-plus{
	height: 75vh;
	width: 125vh;
}



/* AHORA VIENE EL RESPONSIVE */
/* iPhone 6/7/8 */
@media screen 
and (min-width: 300px)
and (max-width: 400px){
	#fondo{
		background: url(imagenes_css/fondo1c.jpg);
	}
	#center-logo{
		height: 50vh;
		width: 75%;
		transform: translate(17.5% , 0%);
	}
	#top-logo{
		width: 0%;
	}
	.my_row{
		flex-direction: column;
	}
	.close-position{
		transform: translate(-17.5vh ,80vh);
	}
	.img-cel{
		height: 5vh;
		width: 5vh;
	}
	.img-mail{
		height: 5vh;
		width: 5vh;
	}
	.img-mail {
		height: 5vh;
		width: 5vh;
		margin-left:10%;
		margin-top: 2.5vh;
		float: left;
	}
	
	.img-cel {
		height: 5vh;
		width: 5vh;
		margin-left:10%;
		margin-top: 2.5vh;
		float: left;
	}

	.my_modal-img{
		height: 50vh;
		width: 75vh;
	}
	
	.my_modal-img-plus{
		height: 50vh;
		width: 75vh;
	}
	.minifondo {
		background-color: black;
		height: 25vh;
		background-size: cover;
	}
	#encuesta {
		left: 50%;
		right: 50%;
		margin-left: 5%;
	}
	#form-container {
		height: 90vh;
		width: 100%;
	}
	#grid-container {
		display: grid;
		grid-template-areas:
		"productos productos productos productos productos productos"
		"productos productos productos productos productos productos"
		"productos productos productos productos productos productos";
		height: 80vh;
	}
	#grid-container-inv {
		display: grid;
		grid-template-areas:
		"productos productos productos productos productos productos"
		"productos productos productos productos productos productos"
		"productos productos productos productos productos productos";
		width: 100%;
		height: 80vh;
	}
	#grid_menu {
		grid-area: productos;
		height: 80vh;
		width: 100%;
		margin-top: 0;
	}
	#grid_img{
		grid-area: unset;
	}
	/* CONTACTOS */
	.fuente_contactos{
		font-size: 2vh;
	}
	
	.boxcomment1 {
		width: 30vh;
		border-radius: 0.5vh;
	}
	#boxcomment2 {
		width: 50vh;
		height: 20vh;
		border: 1;
		margin-top: 2.5vh;
		font-family: Verdana, sans-serif;
		resize: none;
	}
} 

@media screen 
and (min-width: 1024px) 
and (max-width: 1200px){
	/* INDEX */
	#fondo{
		height: 100vh; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: -50vh;

	}
	#center-logo{
		height: 55vh;
		width: 66%;
		transform: translate(25% , 15%);
	}
	#top-logo{
		width: 0%;
	}
	.index-menu-right{
		text-align: center;
		align-self: center;
		align-content: center;
	}
	.my_row{
		flex-direction: column;
	}
	.close-modal .lr {
		height: 7.5vh;
	}	
	.close-modal .lr .rl {
		height: 7.5vh;
	}
	.close-position{
		transform: translate(-24vh ,80vh);
	}
	.my_modal-img{
		height: 50vh;
		width: 75vh;
	}
	
	.my_modal-img-plus{
		height: 50vh;
		width: 75vh;
	}
	/* FOOTER */
	.img-mail {
		height: 5vh;
		width: 5vh;
		margin-left:10%;
		margin-top: 2.5vh;
		float: left;
	}
	
	.img-cel {
		height: 5vh;
		width: 5vh;
		margin-left:20%;
		margin-top: 2.5vh;
		float: left;
	}
	.contacto_mail_text{
		margin-top:0vh;
		white-space: pre;
		font-size: 1.9vh;
	}

	.contacto_cel_text{
		margin-top:0vh;
		white-space: pre;
		font-size: 1.9vh;
	}

	/* BARRA DE NAVEGACION */
	.minifondo {
		background-color: black;
		height: 18vh; 
		background-size: cover;
	}
	/* MENU */
	#grid-container {
		display: grid;
		grid-template-areas:
		"productos productos productos productos productos productos"
		"servicios servicios servicios servicios servicios servicios";
		background-color: black;
		height: 150vh;
	}

	#grid-container-inv {
		display: grid;
		grid-template-areas:
		"productos productos productos productos productos productos"
		"servicios servicios servicios servicios servicios servicios";
		background-color: black;
	}

	#grid_menu {
		grid-area: productos;
		height: 75vh;
		/* width: 75vh; */
		width: 100%;
		margin-top: 0vh;
	}
	/* CONTACTOS */
	.fuente_contactos{
		font-size: 5vh;
	}
	#form-container {
		height: 70vh;
		width: 100%;
	}
	.fuente_contactos{
		font-size: 2vh;
	}
	.boxcomment1 {
		border-radius: 0.5vh;
		height: 4vh;
		width: 40vh;
	}
	#boxcomment2 {
		width: 50vh;
		height: 20vh;
		border: 1;
		margin-top: 2.5vh;
		font-family: Verdana, sans-serif;
		font-size: 2vh;
		resize: none;
	}
	.boxcomment3{
		padding: 0 2vh;
		width: 40vh;
		font-size: 2vh;
	}

	.btn-default{
		height: 5vh;
		width: 10vh;
		font-size: 2vh;
	}

	.btn-top-space{
		margin-top: 2.5vh;
	}
	
	#encuesta {
		left: 50%;
		right: 50%;
		margin-left: 20%;
	}
}
@media screen 
and (min-width: 1201px) 
and (max-width: 1300px){
	.minifondo {
		background-color: black;
  		height: 16vh; 
  		background-size: cover;
	}
	#center-logo{
		height: 50vh;
		width: 30%;
		transform: translate(115% , 0%);
	}
	#top-logo{
		width: 0%;
	}

}
