	/*ACA EMPIEZA EL MENU*/

/*Items del Menu*/
.my_menu a:link {
	color: ghostwhite;
}
.my_menu a:visited {
	color: ghostwhite;
}
.my_menu a:hover{
	color: crimson;
}

.my_menu ul {
	list-style: none;
	font-size: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.my_menu li {
   display: block;
   position:relative;
}

.my_menu ul li {
	background-color: black;
	background-size: auto;
	height: 4vh;
	opacity: 0.7;
	float: right;
	list-style: none;
}
/*Enlaces del my_menu*/
.my_menu ul a {
	font-family: 'Rajdhani', sans-serif;
	font-size: 25px;
	text-decoration: none;
	margin: 10vh;
}

/*my_menu DESPLEGABLE*/
.my_menu ul ul {
	display: none;
	position: absolute;
	background-color: black;

}
/*Items cuando pasas el mouse*/
.my_menu ul li:hover > ul {
	display: block;
}

/*Items del my_menu desplegable*/
.my_menu ul ul li {
	list-style: none;
	float: none;
}
.my_menu ul ul a{
	font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
}

.my_menu ul a:hover{
	color: crimson;
}

.menu ul a:link a:visited{
	color: ghostwhite;
}
/*FIN my_menu DESPLEGABLE*/

	/*ACA TERMINA EL my_menu*/