.my_menu{
    a:link {
        color: ghostwhite;
    }
    a:visited{
        color: ghostwhite;
    }
    a:hover{
        color: crimson;
    }
    li {
        display: block;
        position:relative;
    }
    ul {
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;

        li {
            background-color: black;
            background-size: cover;
            height: 4vh;
            opacity: 0.7;
            display: inline-block;
            list-style: none;
        }

        li:hover > ul {
            display: block;
        }

        a {
            font-family: 'Rajdhani', sans-serif;
            font-size: 2.5vh;
            text-decoration: none;
            margin: 10vh;
        }

        a:hover {
            color: crimson;
        }
        a:link a:visited{
            color: ghostwhite;
        }
    }
}

@media screen 
and (min-width: 300px)
and (max-width: 400px){
    .my_menu ul li {
        background-color: black;
        background-size: auto;
        height: 5vh;
        width: 100%;
        opacity: 0.8;
        display: inline-block;
        list-style: none;
        text-align: center;
      }
}

@media screen 
and (min-width: 1024px) 
and (max-width: 1200px){
    .my_menu {
      margin-bottom: 10vh;
      margin-top: 0;
    }
    .my_menu ul li {
      background-color: black;
      background-size: auto;
      height: 6vh;
      width: 100%;
      line-height: 5vh;
      opacity: 0.8;
      display: inline-block;
      list-style: none;
      text-align: center;
    }
}

@media screen 
and (min-width: 1201px) 
and (max-width: 1300px){
    .my_menu {
      margin-bottom: 10vh;
      margin-top: 0;
    }
    .my_menu ul li {
      background-color: black;
      background-size: auto;
      height: 5vh;
      width: 50%;
      line-height: 5vh;
      opacity: 0.8;
      display: inline-block;
      list-style: none;
      text-align: center;
    }
}

