%fuente {
    font-family: 'Rajdhani', sans-serif;
}

%raleway {
    font-family: 'Raleway', sans-serif;
}

.titulo{
    font-size: 50px;
    @extend %fuente;
}
.titulo-menu{
    font-size: 50px;
	line-height: 50vh;
	color: white;
    @extend %raleway;
}

.n-titulo{
    font-size: 5vh;
	color: white;
    line-height:40vh;
    @extend %raleway;
}

.n-fuente{
    font-size: 2vh;
    color: gray;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: -15vh;
    text-align: justify;
    @extend %raleway;
}

.subtitulo{
    font-size: 3vh;
    @extend %fuente;
}

.fuente_global{
	font-size: 20px;
    @extend %fuente;
}

.my_modal-footer{
    color: white;
    @extend %fuente;
}

.my_modal-footer-txt{
	color: white;
	font-size: 15px;
    @extend %fuente;
}


@mixin tamano($ancho, $alto){
    width:$ancho;
    height:$alto;
}

.img-bottombig {
	max-width: 100%;
    @include tamano(100%, 52vh);
	/* margin-top: 1.15%; */
}

.img-topbig {
	max-width: 100%;
    @include tamano(100%, 52vh);
	/* margin-top: 1.15%; */
}

.img-small {
	max-width: 100%;
    @include tamano(100%,20.8vh);
	/* margin-top: 1.15%; */
}
.img-bottomlong {
	max-width: 100%;
    @include tamano(100%, 57.5vh);
	/* margin-top: 0.75%; */
}

.img-menu-r{
    max-width: 100%;
    margin-right:-80vh;
    margin-top: 15vh;
    @include tamano(110vh,75vh)
}

.img-menu-l{
    max-width: 100%;
    margin-right:-20vh;
    margin-top: 15vh;
    @include tamano(110vh,75vh)
}

.google_map_size{
    @include tamano(100%,50vh);
}

.img_media_size{
    @include tamano(50px,50px);
}

// PARA IPHONE6/7/8
@media screen and (max-width: 480px){
    .fuente_global{
        font-size: 2vh;
    }

    .img_media_size{
        @include tamano(4vh,4vh);
    }
    .my_modal-footer-txt{
        color: white;
        font-size: 15px;
        margin-left: 10vh;
        margin-right: 10vh;
        @extend %fuente;
    }
    .n-titulo{
        font-size: 5vh;
        color: white;
        line-height:15vh;
        @extend %raleway;
    }
    
    .n-fuente{
        font-size: 2vh;
        color: gray;
        margin-left: 5vh;
        margin-right: 5vh;
        margin-top: 0vh;
        text-align: justify;
        @extend %raleway;
    }
    .img-menu-r{
        max-width: 0%;
        margin-right:0vh;
        margin-top: 0vh;
        @include tamano(0vh,0vh)
    }
    
    .img-menu-l{
        max-width: 0%;
        margin-right:0vh;
        margin-top: 0vh;
        @include tamano(0vh,0vh)
    }
}